<div class="buffer-bottom">
  <p><%= comment.body %></p>
    <span>
      <% if comment.user.present? %>
        <%= render partial: 'users/user', object: comment.user %>
      <% else %>
        <em><strong><%= comment.user_name %></strong></em>
      <% end %>
    </span>
    <em><%= l comment.created_at, format: :short %></em>
    <% if current_user_can_edit?(comment) %>
      <%= button_to(
            bootstrap_icon("trash", fill: "red"),
            event_comment_path(comment.event, comment),
            method: :delete,
            form: { data: { turbo_confirm: t('comments.comment.destroy_confirm') } },
            class: 'btn btn-link p-0',
            form_class: 'd-inline') %>
    <% end %>
</div>
