<h1><%= t('.pin_only_access') %></h1>

 <%= form_tag(event_path(@event), method: 'post', data: { turbo: false }) do |f| %>
   <div class="form-group">
     <%= label :pincode, t('.pincode') %>
     <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
   </div>

   <div class="actions">
     <%= submit_tag t('.save'), class: 'btn btn-primary mt-2' %>
   </div>
 <% end %>

 <%= link_to t('.main'), events_path %>
