<div class="event-photo d-inline">
  <a href="<%= photo.photo.url %>" data-lightbox="set" 
    data-title='
    <%= t('events.photos.added') %>
    <%= render partial: 'users/user', object: photo.user %>
    <% if current_user_can_edit?(photo) %>
    <%= button_to(
            bootstrap_icon("trash", fill: "red"),
            event_photo_path(photo.event, photo),
            method: :delete,
            form: { data: { turbo_confirm: t('photos.photo.destroy_confirm') } },
            class: 'btn btn-link p-0',
            form_class: 'd-inline') %>
    <% end %>
    '
  >
    <%= image_tag(photo.photo.variant(:thumb), class: 'img-fluid') %>
  </a>
</div>
