<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to "BBQ!", root_path, class: "nav-link px-2 text-secondary" %></li>
          </ul>

          <div class="text-end">
            <% if user_signed_in? %>
              <%= link_to 'Профиль', current_user, class: "btn btn-outline-light me-2" %></li>
              <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
            <% else %>
              <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-light me-2" %>
              <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-warning"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
  </div>

</body>
</html>
