<!DOCTYPE html>
<html>
  <head>
    <title>Bbq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to t('app.name'), root_path, class: "nav-link px-2 text-secondary" %></li>
          </ul>

          <div class="text-end">
            <% if user_signed_in? %>
              <div class="btn-inline">
                <%= button_to 'Профиль', current_user, method: :get, class: "btn btn-outline-light me-2"%>
              </div>
              <div class="btn-inline">
                <%= button_to 'Выйти', destroy_user_session_path, method: :delete,
                 data: { turbo: false }, class: "btn btn-warning"%>
              </div>
            <% else %>
              <%= link_to 'Войти', new_user_session_path, class: "btn btn-outline-light me-2" %>
              <%= link_to 'Зарегистрироваться', new_user_registration_path, class: "btn btn-warning"  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container mt-2">
    <% if flash[:notice].present? %>
      <div class='alert alert-success alert-dismissible fade show' role='alert'>
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% elsif flash[:alert].present? %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
